._*
.DS_Store 
.ipynb_checkpoints
__pycache__
*/._*
*/.DS_Store
*.ipynb
*.pyc
PerformanceEvaluation/PDFs/
PerformanceEvaluation/ROOTs/
PerformanceEvaluation/PNGs/
caloParams/History/
L1Training/RunInstructions/
L1Plotting/RunInstructions/
L1JaxTraining/Trainings/
L1JaxTraining/Olivier/
L1JaxTraining/test/
L1Plotting/TestPlotting/
caloParams/caloParams_2023_v56*_cfi.py
caloParams/caloParams_2023_JAX*_newCalib_cfi.py
